/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define FUNCTION 1

&lt { tapping-term-ms = <300>; };

&mt { tapping-term-ms = <300>; };

/ {
    behaviors {
        td_tt: td_tt {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_TT";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&tog 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&kp ESC         &kp NUMBER_1        &kp NUMBER_2          &kp NUMBER_3  &kp NUMBER_4   &kp N5     &none             &none              &kp NUMBER_6    &kp N7          &kp N8          &kp N9        &kp N0          &kp MINUS
&kp DELETE      &kp Q               &kp W                 &kp E         &kp R          &kp T      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp Y           &kp U           &kp I           &kp O         &kp P           &kp BACKSLASH
&kp GRAVE       &kp A               &kp S                 &kp D         &mt LALT F     &kp G      &sys_reset        &td_tt             &kp H           &mt LEFT_ALT J  &lt 1 K         &kp L         &kp SEMI        &kp APOS
&sk LEFT_SHIFT  &mt LEFT_CONTROL Z  &mt LC(LEFT_SHIFT) X  &kp C         &kp V          &kp B                                           &kp N           &kp M           &kp COMMA       &kp DOT       &mt LGUI SLASH  &mo 1
&kp Z           &sk LGUI            &kp LEFT              &kp RIGHT     &kp PAGE_UP    &kp SPACE  &kp BACKSPACE     &kp TAB            &kp ENTER       &kp ESCAPE      &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN        &kp RIGHT
                                                                        &kp PAGE_DOWN  &kp LEFT   &kp RIGHT         &kp UP_ARROW       &kp DOWN_ARROW  &trans
            >;
        };

        POG {
            bindings = <
&trans      &kp F1      &kp F2          &kp F3                &kp F4                 &kp F5            &trans            &trans             &kp F6    &kp F7          &kp F8             &kp F9           &kp F10          &kp F11
&trans      &trans      &kp LESS_THAN   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp GREATER_THAN  &trans            &trans             &trans    &trans          &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_MUTE       &kp F12
&trans      &trans      &kp EQUAL       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans            &trans            &trans             &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW       &kp RIGHT_ARROW  &kp PRINTSCREEN  &trans
&trans      &trans      &kp UNDER       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans                                                 &trans    &trans          &trans             &trans           &trans           &trans
&kp C_STOP  &kp C_PLAY  &kp C_PREVIOUS  &kp C_NEXT            &kp C_VOLUME_UP        &kp C_MUTE        &nvim_find_files  &nvim_search       &trans    &kp DELETE      &trans             &trans           &trans           &trans
                                                              &kp C_VOLUME_DOWN      &trans            &nvim_symbols     &nvim_search_word  &trans    &trans
            >;
        };

        FN {
            bindings = <
&trans  &kp F1  &kp F2          &kp F3          &kp F4     &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans
&trans  &trans  &trans          &kp UP_ARROW    &trans     &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans          &trans          &trans     &trans                  &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans          &trans          &trans     &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans   &trans
                                                &trans     &trans  &trans  &trans  &trans  &trans
            >;
        };

        NUMPAD {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp KP_NUMLOCK   &trans           &kp KP_MINUS     &kp KP_PLUS      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_ASTERISK  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_SLASH     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans           &kp KP_NUMBER_0  &kp KP_DOT       &trans           &trans
                                &trans  &trans  &trans  &trans  &trans  &kp KP_ENTER
            >;
        };
    };

    macros {
        zoom_mute: zoom_mute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LCMD>,
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_release>,
                <&kp LCMD>;
        };

        gmeet_mute: gmeet_mute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LCMD>,
                <&macro_tap>,
                <&kp D>,
                <&macro_release>,
                <&kp LCMD>;
        };

        nvim_find_files: nvim_ff {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp F &kp F>;
            label = "NVIM_FF";
        };

        nvim_search_word: nvim_search_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp S &kp W>;
            label = "NVIM_SEARCH_WORD";
        };

        nvim_search: nvim_search {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp S &kp G>;
            label = "NVIM_SEARCH";
        };

        nvim_symbols: nvim_symbols {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp S &kp S>;
            label = "NVIM_SYMBOLS";
        };
    };
};
